<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                style="font-weight: bold;">
                Cap 3 - Angular Directives
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/switch']">Switch</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/dark']">12. Dark [ngClass]</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/style']">13. Style [ngStyle]</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/style2']">14. Input change [ngStyle]</a>
                </p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/container']">15. ng-container </a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/template']">16. ng-template </a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/template2']">18. ng-template message
                        input field remains empty</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/outlet']">19. Rendering templates with
                        ngTemplateOutlet</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/portfolio']">21. Assignment - Portfolio
                        Builder (Phase 1) - HTML</a></p>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                    style="font-weight: bold;">
                    Cap 4 - Component life cycle - lifecycle hooks
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/intro']">01. intro Hook
                            components</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/change']">02. Component Creation Hook
                            ngOnChanges()</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/docheck']">05. Detecting Custom
                            Changes With ngDoCheck()</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/after']">06. Understanding the
                            ngAfterContentInit() hook</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
                    style="font-weight: bold;">
                    Cap 5 - Decorators
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/input']">3. Input decorators </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/output']">6. Property Decorators
                            -Output </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/share']">7. Implementing parent-child
                            data sharing using Input/Output </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/viewCh']">8. Property Decorators -
                            Accessing Child Components With ViewChild </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/hostb']">10. Property Decorators -
                            Binding Proper With HostBinding </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/pick']">12. Assignment - Implementing
                            color picker </a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4"
                    style="font-weight: bold;">
                    Cap 6 - Pipes
                </button>
            </h2>
            <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/buildp']">2. Assignment - Implementing the built-in pipes</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/slidep']">3. Implementing the Slide pipe</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/pagenavs']">4.1 pageNavigation(Pt1) - slicePipe</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/pound']">7. Assignment - Pound(lbs) to Kg Converter Using Number Pipe</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/jsonp']">8. Understanding JSON Pipe</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/tablejson']">9. Assignment - Displaying Table Data To JSON string</a></p>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5"
                    style="font-weight: bold;">
                    Cap 7 - Custom Pipes
                </button>
            </h2>
            <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/apptext']">1. Creating Custom Pipes</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/sortn']">2. custom Sorting Pipe </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/letterc']">3. Letter Count Custom Pipe </a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/increment']">4. pure Vs Impure Pipe </a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8"
                    style="font-weight: bold;">
                    Cap 8 - Angular Routing
                </button>
            </h2>
            <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/navlink']">05 - Navigation with routerlink direc.</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/emplo/:empName/:empId']">06 - Dynamic Routing (pass parameters) .</a></p>   
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/parent']">08 -Undrstanding Nested</a></p>   
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/menulev']">09 - Menu Multilivello</a></p>   
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/homer']">11 - forRoot and forChild</a></p>   
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/emplohome']">12 - ActivatedRoute</a></p>   
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/courseHome']">14. Displaying Course Details And Fetching The Query Parameters</a></p>   
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse9" aria-expanded="false" aria-controls="flush-collapse9"
                    style="font-weight: bold;">
                    Cap 9 - Angular Services
                </button>  
            </h2>
            <div id="flush-collapse9" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/empHome']">1. Introduction To Services</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/myHoc']">3. Providing Services</a></p> 
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10"
                    style="font-weight: bold;">
                    Cap 10 - Tokens
                </button>  
            </h2>
            <div id="flush-collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/myTok']">1. Injecting Tokens.</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/myuseValue']">4. Providing Value with "useValue".</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/appAdmin']">5. Providing Constant Value as Dependecy</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/appAlert']">6. Alias provider - useExisting property</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/useFactory']">7. Factory Provider -useFactory property</a></p>
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/usefac']">9. useFactory vs useValue</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
