<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Cap 3 - Angular Directives
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/switch']">Switch</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/dark']">12. Dark [ngClass]</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/style']">13. Style [ngStyle]</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/style2']">14. Input change [ngStyle]</a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/container']">15. ng-container </a></p>
                <p><a href="#" class="link-underline-primary" [routerLink]="['/template']">16. ng-template </a></p>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Cap 4 - Component life cycle - lifecycle hooks
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                   Cap 5 - Decorators
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p><a href="#" class="link-underline-primary" [routerLink]="['/']">root</a></p>
                </div>
            </div>
        </div>
    </div>