<div>
    <h1>Component Parent</h1>
    <button class="btn btn-info" (click)="update()">Update Message</button>
    <app-child [msg]="displayMessage"></app-child>

    <br><br>
    <hr>
    <br>
    <div class="container">
        <div class="parent">
            <h2>Data in App Component</h2>
            <pre>{{courses | json}}</pre>
        </div>
        <div class="child">
            <h2>Child Component</h2>
            <app-child [showData]="courses"></app-child>
        </div>
    </div>

</div>