<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-warning w-25 mx-3 my-3 fs-4" (click)="onPrefetch()">
        Prefetch User
    </button>
    <button type="button" class="btn btn-warning w-25 mx-3 my-3 fs-4" (click)="onDisplay()">
        Display User
    </button>
</div>

<div>
    @defer (when showData; prefetch when loadData) {
    <app-users14></app-users14>
    }@loading (minimum 800ms){
    <h3 class="text-center p-2 m-2 fs-2">Loading Users...</h3>
    }
</div>