<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th >Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price | currency:'EUR'}}</td>
            </tr>
        </tbody>
    </table>
</div>