<div>
    <h1>Fetching Data from JSON</h1>
    <ng-container *ngIf="jsonData$ | async as data; else loading">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Categories</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of data;">
                    <td>{{cat.name}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #loading>
        <p class="loading-msg">Loading data...</p>
    </ng-template>
</div>