.updateStyles {
  text-align: center;
  background-color: black;
  color: goldenrod;
  font-size: 21px;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  width: 700px;
}

.italicText {
  font-style: italic;
}

.letterFormat {
  text-transform: uppercase;
}

input {
  margin-left: 20px;
  width: 200px;
  height: 25px;
  font-size: 15px;
}

input.txt {
  background-color: rgba(143, 123, 13, 0.279);
}