<div class="container-fluid">
  <h2>Role Selection</h2>
  <select [(ngModel)]="employeeRole" class="form-select-lg" aria-label="Default select example">
    <option value="">Select Role</option>
    <option value="Admin">Admin</option>
    <option value="HR">HR</option>
    <option value="Marketing">Marketing</option>
    <option value="Developer">Developer</option>
    <option value="Analyst">Analyst</option>
  </select>

  @switch (employeeRole) {
  @case ('Admin') {
  <h1>List of Employees</h1>
  <h3>Selected Role: Admin</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employees();track item.id){
      @if(item.role=='Admin'){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
      </tr>
      }
      }@empty {<p>Lista vuota</p>}
    </tbody>
  </table>
  }
  @case ('HR') {
  <h1>List of Employees</h1>
  <h3>Selected Role: HR</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employees();track item.id){
      @if(item.role=='HR'){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
      </tr>
      }
      }@empty {<p>Lista vuota</p>}
    </tbody>
  </table>
  }
  @case ('Marketing') {
  <h1>List of Employees</h1>
  <h3>Selected Role: Marketing</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employees();track item.id){
      @if(item.role=='Marketing'){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
      </tr>
      }
      }@empty {<p>Lista vuota</p>}
    </tbody>
  </table>
  }
  @case ('Developer') {
  <h1>List of Employees</h1>
  <h3>Selected Role: Developer</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employees();track item.id){
      @if(item.role=='Developer'){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
      </tr>
      }
      }@empty {<p>Lista vuota</p>}
    </tbody>
  </table>
  }
  @case ('Analyst') {
  <h1>List of Employees</h1>
  <h3>Selected Role: Analyst</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      @for(item of employees();track item.id){
      @if(item.role=='Analyst'){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.role}}</td>
      </tr>
      }
      }@empty {<p>Lista vuota</p>}
    </tbody>
  </table>
  }
  @default {
  <p class="text-center">Select a Role</p>
  }
  }
</div>