<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
        <h2 class="display-2 text-center py-3">Login Form</h2>
        <div class="mb-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <span class="form-label text-danger" *ngIf="nameControl.touched && nameControl.errors?.['required']">*Name Required</span>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <span class="form-label text-danger" *ngIf="emailControl.touched && emailControl.errors?.['required']">*Email richiesta</span>
            <span class="form-label text-danger" *ngIf="emailControl.touched && emailControl.errors?.['email']">*Email non valida</span>
        </div>
        <div class="btn-group d-grid">
            <button class="btn btn-primary"  type="submit" [disabled]="!myForm.valid" >Submit</button>
        </div>
    </form>
</div>